body {
  padding: 0;
  margin: 5px;
}
.container {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  grid-template-columns: 40% 40%;
  justify-content: center;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
}
.resolution {
  font-size: 150%;
  padding: 20px 0;
}
.resolution:after {
  display: block;
  text-align: center;
}
.box {
  background-color: var(--black);
  color: var(--white);
  border-radius: 5px;
  padding: var(--base-box-padding);
  font-size: 150%;
  text-transform: uppercase;
}
