@media screen and (max-width: 1280px) {
  .container {}
  .resolution:after {
    content: '1280px';
  }
}
@media screen and (max-width: 980px) {
  .box.a {
    grid-row: 1 /span 3;
    grid-column: 2 / span 1;
  }
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 49% 49%;
  }
  .container .wrapper:first-child {
    grid-template-columns: 49% 49%;
  }
  .container:last-child {}
  .resolution:after {
    content: '768px';
  }
}
@media screen and (max-width: 360px) {
  .container {
    grid-template-columns: 100%;
  }
  .resolution:after {
    content: '360px';
  }
  .box.a {
    grid-column: 1 / span 2;
  }
  .box.d {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
  }
}
@media screen and (max-width: 320px) {
  .container {}
  .container .wrapper:first-child {
    grid-template-columns: 49% 49%;
  }
  .wrapper {
    grid-row-gap: 10px;
    grid-column-gap: 5px;
  }
  .resolution:after {
    content: '320px';
  }
  .box.a {
    grid-row: 4 / span 2;
  }
  .box.c {
    grid-column: 2;
    grid-row: 1 / span 1;
  }
  .box.d {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
  }
}
